<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MINI Roadster</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,700' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <!---Angular--->
    <script src="node_modules/angular/angular.min.js"></script>
</head>
<body>
    <div class="mn-page" ng-app="myApp">
        <header class="mn-page__header">
            <div class="mn-header">
                <div class="mn-header__logo">
                    <div class="mn-logo">
                        <a class="mn-logo__img" href="#"></a>
                    </div>
                </div>
                <div class="mn-header__banner">
                    <div class="mn-header-banner">
                        <div class="mn-header-banner__mask">
                            <img class="mn-header-banner__img" src="img/header-img.png">
                        </div>
                        <div class="mn-header-banner__text">
                            <h1 class="mn-header-banner__h1">
                                MINI Roadster  Concept Unveiled
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mn-header-nav">
                <div class="mn-header-nav__user">
                    <a class="mn-action-link" href="#">Вход</a>
                    <span class="mn-text-muted"> или </span>
                    <a class="mn-action-link" class="" href="#">Регистрация</a>
                </div>
                <div class="mn-header-nav__nav">
                    <ul class="mn-nav">
                        <li class="mn-nav__item mn-nav__item_active">
                            <a class="mn-nav__item-link" href="#">Статьи</a>
                        </li>
                        <li class="mn-nav__item">
                            <a class="mn-nav__item-link" href="#">Блоги</a>
                        </li>
                        <li class="mn-nav__item">
                            <a class="mn-nav__item-link" href="#">Авторы</a>
                        </li>
                        <li class="mn-nav__item">
                            <a class="mn-nav__item-link" href="#">Галерея</a>
                        </li>
                        <li class="mn-nav__item">
                            <a class="mn-nav__item-link" href="#">Компании</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="mn-page__content">
            <article class="mn-article">
                <div class="mn-article__content">
                    <h1 class="mn-article__header">BMW запустит в серию гибридный спорткар</h1>
                    <p class="mn-article-info"><span class="mn-article__date">01.02.2010 17:53, </span><a href="#" class="mn-article__author">Редакция</a></p>
                    <p class="mn-text-general">
                        В ближайшие три года компания BMW планирует запустить в серийное производство
                        концептуальный спорткар Vision EfficientDynamics, который был впервые представлен на
                        моторшоу во Франкфурте осенью прошлого года. Как сообщает издание Inside Line со
                        ссылкой на собственный источник, сейчас руководство бренда решает, каким тиражом
                        будет выпущена такая машина. На данный момент в BMW рассматривают максимальный
                        объем производства в размере 5-10 тысяч автомобилей.
                    </p>
                    <blockquote  class="mn-quote">
                        Дизельный двигатель BMW Vision EfficientDynamics
                        включается в работу только когда заряд литий-полимерных
                        аккумуляторов достигает минимального уровня. Батареи от
                        обычной домашней розетки с напряжением 220 вольт можно
                        зарядить за 2,5 часа. Кроме того, автомобиль оснащен
                        системой рекуперации энергии при торможении.
                    </blockquote>
                    <p class="mn-text-general">
                        Концептуальный спорткар с посадочной формулой 2+2 построен на алюминиевом шасси и
                        оснащен 356-сильной гибридной силовой установкой, состоящей из 1,5-литрвого
                        турбодизеля мощностью 163 лошадиные силы, двух электромоторов (по одному на каждой
                        оси) и роботизированной коробки передач с двумя сцеплениями. С нуля до ста километров
                        в час прототип способен разогнаться за 4,8 секунды. Максимальная скорость машины
                        ограничена электроникой на отметке 250 километров в час.
                    </p>
                    <div class="mn-article__car-descr">
                        <div class="mn-article__car-info">
                            <table class="mn-article-table">
                                <tbody class="mn-article-table__body">
                                    <tr class="mn-article-table__row">
                                        <td class="mn-article-table__cell">3 liter per 100 km</td>
                                        <td class="mn-article-table__cell">164 kw</td>
                                    </tr>
                                    <tr class="mn-article-table__row">
                                        <td class="mn-article-table__cell">0 -100 km/h (62 mph)</td>
                                        <td class="mn-article-table__cell">5.0 sec</td>
                                    </tr>
                                    <tr class="mn-article-table__row">
                                        <td class="mn-article-table__cell">Top speed</td>
                                        <td class="mn-article-table__cell">250 km/h (155 mph)</td>
                                    </tr>
                                    <tr class="mn-article-table__row">
                                        <td class="mn-article-table__cell">Weight</td>
                                        <td class="mn-article-table__cell">1,630 kg - 3,600 lbs</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mn-article__car-cart">
                            <ul class="mn-list-bull">
                                <li class="mn-list-bull__item">3-cylinder 1.5 liter petrol engine</li>
                                <li class="mn-list-bull__item">electric motor - 96kw</li>
                                <li class="mn-list-bull__item">Battery Charge Time - 1.45 hrs</li>
                                <li class="mn-list-bull__item">Luggage storage - 100 liters</li>
                            </ul>
                        </div>
                    </div>
                    <p class="mn-text-general">
                        Этот автомобиль станет второй моделью немецкого производителя, после городского
                        электрокара i3, который будет выпускаться под суббрендом "i", созданным специально для
                        продажи экологически чистых машин. Ожидается, что производство нового спорткара
                        начнется через два года.
                    </p>
                    <p class="mn-text-general">
                        Как сообщалось ранее, спорткар BMW i8, созданный в стилистике концептуального
                        автомобиля Vision EfficientDynamics, получит алюминиевое шасси и кузов из армированного
                        углеволокном пластика - материала, разрабатываемого баварским концерном совместно с
                        американским партнером SG Carbon. Новинка будет оснащаться гибридной силовой
                        установкой, сочетающей в себе трехцилиндровый бензиновый мотор объемом 1,5 литра,
                        170-сильный электродвигатель и литий-ионный аккумуляторы.
                    </p>
                    <div class="mn-slider">
                        <div class="mn-slider__title">
                            <p class="mn-slider__title-descr">Фотографии <span class="mn-slider__nav-num mn-slider__nav-num_current">8</span><span class="mn-slider__nav-num"> / </span><span class="mn-slider__nav-num mn-slider__nav-num_general">24</span></p>
                            <div class="mn-info-msg mn-info-msg_slider">
                                <p class="mn-info-msg__text">
                                    Галерея доступна по
                                    <a class="mn-info-msg__link">
                                        этой ссылке
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="mn-slider__img">
                            <img src="img/car-img-1.png" class="mn-slider-img">
                        </div>
                        <div class="mn-slider__addition">
                            <p class="mn-copyrights">&#169 Пресс-служба &#171BMW&#187</p>
                        </div>
                        <div class="mn-slider__nav">
                            <div class="mn-slider__nav-btn mn-slider__nav-btn_prev">
                                <button type="button" class="mn-slider-btn mn-slider-btn_prev"></button>
                            </div>
                            <div class="mn-slider__nav-btn mn-slider__nav-btn_next">
                                <button type="button" class="mn-slider-btn mn-slider-btn_next"></button>
                            </div>
                            <ul class="mn-slider-nav">
                                <li class="mn-slider-nav__item">
                                    <a href="#" class="mn-slider-nav__item-link">
                                        <img src="img/car-min-1.png" class="mn-slider-nav__item-img">
                                    </a>
                                </li>
                                <li class="mn-slider-nav__item mn-slider-nav__item_active">
                                    <a href="#" class="mn-slider-nav__item-link">
                                        <img src="img/car-min-2.png" class="mn-slider-nav__item-img">
                                    </a>
                                </li>
                                <li class="mn-slider-nav__item">
                                    <a href="#" class="mn-slider-nav__item-link">
                                        <img src="img/car-min-3.png" class="mn-slider-nav__item-img">
                                    </a>
                                </li>
                                <li class="mn-slider-nav__item">
                                    <a href="#" class="mn-slider-nav__item-link">
                                        <img src="img/car-min-4.png" class="mn-slider-nav__item-img">
                                    </a>
                                </li>
                                <li class="mn-slider-nav__item">
                                    <a href="#" class="mn-slider-nav__item-link">
                                        <img src="img/car-min-5.png" class="mn-slider-nav__item-img">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>
            <aside class="mn-aside">
                <div class="mn-aside__advertise">
                    <a class="mn-advertise" href="#"><img class="mn-advertise__img" src="img/banner.png"></a>
                </div>
                <div class="mn-aside__top-news" ng-controller="tabsController as tabsCtrl">
                    <div class="mn-tab">
                        <div class="mn-tab__title">
                            <ul class="mn-news-tabs">
                                <li class="mn-news-tabs__tab" ng-click="activeTab='news'" ng-class="{'mn-news-tabs__tab_active': activeTab=='news'}">
                                    <a href="#" data-tab="top-news" class="mn-news-tabs__tab-link" onclick="return false">Читают</a>
                                </li>
                                <li class="mn-news-tabs__tab" ng-click="activeTab='comments'" ng-class="{'mn-news-tabs__tab_active': activeTab=='comments'}">
                                    <a href="#" data-tab="comments" class="mn-news-tabs__tab-link" onclick="return false">Комментируют</a>
                                </li>
                            </ul>
                        </div>
                        <div class="mn-tab__info">
                            <div class="mn-tab__info-part">
                                <ul class="mn-top-news" data-tab-show="top-news" ng-show="activeTab=='news'">
                                    <li class="mn-top-news__item">
                                        <a href="#" class="mn-top-news__item-link">Кроссовер Mazda CX-5 будут  собирать в России</a>
                                        <a href="#" class="mn-top-news__item-comments">10</a>
                                        <p class="mn-top-news__item-date">27.04 11:24</p>
                                    </li>
                                    <li class="mn-top-news__item">
                                        <a href="#" class="mn-top-news__item-link">На самых старых автомобилях в России ездят на Камчатке</a>
                                        <p class="mn-top-news__item-date">27.04 11:24</p>
                                    </li>
                                    <li class="mn-top-news__item">
                                        <a href="#" class="mn-top-news__item-link">Берни Экклстоун решил жениться</a>
                                        <p class="mn-top-news__item-date">27.04 11:24</p>
                                    </li>
                                    <li class="mn-top-news__item">
                                        <a href="#" class="mn-top-news__item-link">Citroen привезет в Россию "трекинговую" версию C3 Picasso</a>
                                        <p class="mn-top-news__item-date">27.04 11:24</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="mn-tab__info-part">
                                <ul class="mn-comments" data-tab-show="comments" ng-show="activeTab=='comments'">
                                    <li class="mn-comments__item">
                                        <a href="#" class="mn-comments__item-link">Кроссовер Mazda CX-5 будут  собирать в России</a>
                                        <a href="#" class="mn-comments__item-comments">10</a>
                                        <p class="mn-comments__item-date">27.04 11:24</p>
                                    </li>
                                    <li class="mn-comments__item">
                                        <a href="#" class="mn-comments__item-link">На самых старых автомобилях в России ездят на Камчатке</a>
                                        <a href="#" class="mn-comments__item-comments">7</a>
                                        <p class="mn-comments__item-date">27.04 11:24</p>
                                    </li>
                                    <li class="mn-comments__item">
                                        <a href="#" class="mn-comments__item-link">Берни Экклстоун решил жениться</a>
                                        <a href="#" class="mn-comments__item-comments">4</a>
                                        <p class="mn-comments__item-date">27.04 11:24</p>
                                    </li>
                                    <li class="mn-comments__item">
                                        <a href="#" class="mn-comments__item-link">Citroen привезет в Россию "трекинговую" версию C3 Picasso</a>
                                        <a href="#" class="mn-comments__item-comments">3</a>
                                        <p class="mn-comments__item-date">27.04 11:24</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mn-aside__question-block">
                    <form class="mn-question-block mn-question-block_second-line">
                        <p class="mn-question-block__title">Ответьте на вопрос</p>
                        <p class="mn-question-block__quest">
                            Какая марка маши вызывает у
                            вас наибольшее доверие с
                            точки зрения безопасности?
                        </p>
                        <div class="mn-question-block__options">
                            <div class="mn-info-msg mn-info-msg_question">
                                <p class="mn-info-msg__text">
                                    Выберите
                                </p>
                            </div>
                            <ul class="mn-radio-group">
                                <li class="mn-radio-group__item">
                                    <label for="car1" class="mn-radio-group__label">
                                        <input id="car1" type="radio" name="safeCar" value="BMW" class="mn-radio-group__input">
                                        <span class="mn-radio-group__label-radio">BMW</span>
                                    </label>
                                </li>
                                <li class="mn-radio-group__item">
                                    <label for="car2" class="mn-radio-group__label">
                                        <input id="car2" type="radio" name="safeCar" value="Mercedes-Benz" class="mn-radio-group__input">
                                        <span class="mn-radio-group__label-radio">Mercedes-Benz</span>
                                    </label>
                                </li>
                                <li class="mn-radio-group__item">
                                    <label for="car3" class="mn-radio-group__label">
                                        <input id="car3" type="radio" name="safeCar" value="Volvo" class="mn-radio-group__input">
                                        <span class="mn-radio-group__label-radio">Volvo</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="mn-question-block__btn">
                            <button type="submit" class="mn-btn-plane">Ответить</button>
                        </div>
                    </form>
                </div>
                <div class="mn-aside__news">
                    <div class="mn-news">
                        <div class="mn-news__header">
                            <h2 class="mn-news__title">Новинки</h2>
                            <div class="mn-news__nav-btns">
                                <button type="button" class="mn-btn-plane mn-btn-plane_nav mn-btn-plane_prev"></button>
                                <button type="button" class="mn-btn-plane mn-btn-plane_nav mn-btn-plane_next"></button>
                            </div>
                        </div>
                        <div class="mn-news__news">
                            <ul class="mn-top-news mn-top-news_news">
                                <li class="mn-top-news__item mn-top-news__item_main">
                                    <a href="#" class="mn-top-news__item-img-link">
                                        <img class="mn-top-news__item-img" src="img/aside-car.png">
                                    </a>
                                    <a href="#" class="mn-top-news__item-link mn-top-news__item-link_main">Aston Martin завершит выпуск суперкара DBS спецсерией</a>
                                    <p class="mn-top-news__item-date">27.04 11:24</p>
                                </li>
                                <li class="mn-top-news__item">
                                    <a href="#" class="mn-top-news__item-link">Lamborghini выбрала еще одно название для будущих моделей</a>
                                    <p class="mn-top-news__item-date">27.04 11:24</p>
                                </li>
                                <li class="mn-top-news__item">
                                    <a href="#" class="mn-top-news__item-link">Mazda CX-9 нового поколения появится в 2013 году</a>
                                    <a href="#" class="mn-top-news__item-comments">22</a>
                                    <p class="mn-top-news__item-date">27.04 11:24</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
        <footer class="mn-page__footer">
            <div class="mn-footer">
                <div class="mn-footer__content">
                    <div class="mn-footer__copyrights">
                        <p class="mn-copyrights mn-copyrights_footer">
                            &#169 2012 Copyright
                        </p>
                    </div>
                    <div class="mn-footer__social">
                        <ul class="mn-social">
                            <li class="mn-social__item">
                                <a class="mn-social__item-link mn-social__item-link_fb" href="#"></a>
                            </li>
                            <li class="mn-social__item">
                                <a class="mn-social__item-link mn-social__item-link_tw" href="#"></a>
                            </li>
                            <li class="mn-social__item">
                                <a class="mn-social__item-link mn-social__item-link_in" href="#"></a>
                            </li>
                            <li class="mn-social__item">
                                <a class="mn-social__item-link mn-social__item-link_go" href="#"></a>
                            </li>
                            <li class="mn-social__item">
                                <a class="mn-social__item-link mn-social__item-link_yo" href="#"></a>
                            </li>
                            <li class="mn-social__item">
                                <a class="mn-social__item-link mn-social__item-link_rss" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="mn-footer__dasigned">
                        <div class="mn-designed">
                            <p class="mn-designed__descr">
                                Дизайн от
                                <a class="mn-designed__author" href="#">xeoart</a>
                            </p>
                            <p class="mn-designed__date">
                                2012
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script>
        var app = angular.module('myApp', [])
        .controller('tabsController', function($scope) {
            $scope.activeTab = 'news';
        });
    </script>
</body>
</html>